header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  .user-details {
    display: flex;

    img.post__profile-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      margin-right: 10px;
    }

    .post__user {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > * {
        padding: 0;
        margin: 0;
      }

      .username {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .location {
        font-size: 9px;
      }

    }
  }
}
img.post__image {
  width: 100%;
  max-height: 375px;
  object-fit: scale-down;
  object-position: center;
  background: #181818;
}
footer {
  display: flex;
  flex-direction: column;
  margin: 0 15px 15px 15px;
  .post__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;

    .post__actions-icon:not(:first-of-type) {
      padding: 0 15px;
    }
  }
  .post__wording {
    font-size: 12px;
    .comments {
      color: #A9A9A9;
      margin: 5px 0;
    }
    .timestamp {
      font-size: 8px;
      color: #A9A9A9;
    }
  }
}
