<header>
  <div class="user-details">
    <img
      alt=""
      class="post__profile-image" [src]="data.userData?.profilePicture">
    <div class="post__user">
      <p class="username">{{data.userData?.username || 'Bruce Wayne'}}</p>
      <p class="location">{{data.location || 'Johannesburg, South Africa'}}</p>
    </div>
  </div>
  <div class="material-icons">more_horiz</div>
</header>
<img
  alt=""
  class="post__image" [src]="data.image">
<footer>
  <div class="post__actions">
    <div>
      <i class="material-icons post__actions-icon">favorite_border</i>
      <i class="material-icons post__actions-icon">chat</i>
    </div>
    <i class="material-icons post__actions-icon">send</i>
  </div>
  <div class="post__wording">
    <div class="description"><strong>{{data?.userData?.username || 'Bruce Wayne'}} </strong>This is the post description.
    </div>
    <div *ngIf="data?.comments?.length > 0" class="comments">
      View {{data?.comments?.length || 1}} {{data?.comments?.length > 1 ? 'comments' : 'comment'}}</div>
    <div class="timestamp">{{postAge(data.timestamp)}}</div>
  </div>
</footer>
