<div class="wrapper">
  <h1>Bootlegger</h1>
  <svg fill="none" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
    <circle cx="256" cy="256" fill="#7014F2" r="256"/>
    <g filter="url(#filter0_i)">
      <path
        d="M192 503.935C302.415 475.516 384 375.286 384 256C384 136.714 302.415 36.4839 192 8.06514C81.5855 36.4839 0 136.714 0 256C0 375.286 81.5855 475.516 192 503.935Z"
        fill="#353535"/>
    </g>
    <defs>
      <filter color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse" height="495.87" id="filter0_i" width="399" x="-15"
              y="8.06514">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend in="SourceGraphic" in2="BackgroundImageFix" mode="normal" result="shape"/>
        <feColorMatrix in="SourceAlpha" result="hardAlpha" type="matrix"
                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
        <feOffset dx="-15"/>
        <feGaussianBlur stdDeviation="10"/>
        <feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend in2="shape" mode="normal" result="effect1_innerShadow"/>
      </filter>
    </defs>
  </svg>
</div>
