<nav class="app-bar app-bar__bottom">
  <div class="app-bar__body">
    <i [skipLocationChange]="true"
       class="material-icons link__icon"
       routerLink="/{{routes.HOME}}"
       routerLinkActive="link__icon-active">home</i>
    <i [skipLocationChange]="true"
       class="material-icons link__icon"
       routerLink="/{{routes.SEARCH}}"
       routerLinkActive="link__icon-active">search</i>
    <i [skipLocationChange]="true"
       class="material-icons link__icon"
       routerLink="/{{routes.MESSAGES}}"
       routerLinkActive="link__icon-active">chat_bubble</i>
    <i [skipLocationChange]="true"
       class="material-icons link__icon"
       routerLink="/{{routes.PROFILE}}"
       routerLinkActive="link__icon-active">person</i>
  </div>
  <div class="button button__small">
    <div class="material-icons">add</div>
  </div>
  <div class="notch__border-bottom"></div>
</nav>
